
* 
{
	padding: 0;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(241, 204, 229);
}
body 
{
	background-color: #000000;
}
.App 
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
.CharCard 
{
	display: flex;
	flex-flow: column;
	border: dashed rgb(158, 54, 106) 4px;
	margin: 64px;
	max-width: 320px;
}
.CharCardTitleContainer 
{
	padding: 8px;
	font-size: large;
	font-weight: bolder;
	border: double rgb(158, 54, 106) 4px;
}
.CharImg 
{
	width: 320px;
}
.CharCardTextContainer 
{
	border: double rgb(158, 54, 106) 2px;
}
.VoteSend 
{
	border: double rgb(158, 54, 106) 4px;
	font-size: 32px;
	padding: 8px;
	text-align: center;
	align-items: center;
	font-weight: bolder;
	cursor: pointer;
}
.VoteSend:hover 
{

	border: double rgb(250, 103, 176) 4px;
	user-select: none;
}
.Sliders 
{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.SliderBotImage img
{
	width: 320px;
}
.Sliders input 
{
	width: 320px;
}